<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <ion-button (click)="goToTab('rent')">
        <span>
          <ion-icon name="cash-sharp"></ion-icon>
          <ion-label>Rent</ion-label>
        </span>
      </ion-button>
      <ion-button (click)="goToTab('sale')">
        <span>
          <ion-icon name="home-sharp"></ion-icon>
          <ion-label>Buy</ion-label>
        </span>
      </ion-button>
      <ion-button (click)="goToTab('share')">
        <span>
          <ion-icon name="people-sharp"></ion-icon>
          <ion-label>Share</ion-label>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
