:host {
  ion-content {
    --background: #f2f2f2;
    ion-item {
      width: 100%;
      --background: #f2f2f2;
      --border-style: none;
      --padding-top: 2vh;
      ion-img {
        width: 20vw;
        margin-left: 40%;
      }
    }
    ion-grid {
      background-color: aliceblue;
      ion-row {
        text-align: center;
        margin-top: 2vh;
        align-items: center;
        ion-label {
          width: 20%;
        }
        ion-input {
          width: 75%;
          margin-top: 1vh;
          border-bottom: solid;
        }
      }
    }
  }
}
